*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #334155;

}
.logo img{
    width: 40px;
    border-radius: 50%;
    filter: invert(100%);
}

ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 44%;
}
ul li{
    list-style-type: none;

}
ul li a{
    font-weight: 600;
    text-decoration: none;
}
ul li:not(:last-child) a:hover, ul li a.active{
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    color: #4ca8e1;
    text-decoration-color: #fff;
}

.btn{
    font-weight: 700;
    padding: 8px 20px;
    border: none;
    background: #4ca8e1;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}
.btn:hover{
    background-color: #0091ff;
}

.hamburger{
    font-size: 30px;
    display: none;
}

@media screen and (max-width:1024px){
    .hamburger{
        display: flex;
        cursor: pointer;
    }
    ul{
        display: none;
    }
    ul.ham_active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: #30363f;
        width: 100%;
        gap: 24px;
        height: 320px;
    }
}